<footer>
    <div class="container-fluid">
        <p class="copyright">
        © 2017 <a href="https://www.kingfisher.com" target="_blank">KingFisher XX</a>. All Rights Reserved.
        </p>
    </div>
</footer>
