<div id="sidebar-nav" class="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;">
        <div class="sidebar-scroll" style="overflow: hidden; width: auto; height: 95%;">
            <nav>
                <ul class="nav">
                    <li id="book-content" class="sidebar-menu">
                        <a href="#Book" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                         <span>Book</span> <i class="glyphicon glyphicon-chevron-left" style="float:right"></i></a>
                        <div id="Book" class="collapse ">
                            <ul class="nav">
                                <li><a href="#" class="book" id="add">Add</a></li>
                                <li><a href="#" class="book" id="list">List</a></li>
                                <li><a href="#" class="book" id="deleteds">Deleteds</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="category-content" class="sidebar-menu" >
                        <a href="#Category" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Category</span>
                         <i class="glyphicon glyphicon-chevron-left" style="float:right"></i></a>
                        <div id="Category" class="collapse ">
                            <ul class="nav">
                                <li><a href="/category/insert" class="">Add</a></li>
                                <li><a href="/category/list" class="">List</a></li>
                                <li><a href="/category/deleted" class="">Deleteds</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="publisher-content" class="sidebar-menu">
                        <a href="#Publisher" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> 
                        <span>Publisher</span> <i class="glyphicon glyphicon-chevron-left" style="float:right"></i></a>
                        <div id="Publisher" class="collapse ">
                            <ul class="nav">
                                <li><a href="page-profile.html" class="">Add</a></li>
                                <li><a href="page-login.html" class="">Update</a></li>
                                <li><a href="page-lockscreen.html" class="">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="user-content" class="sidebar-menu">
                        <a href="#User" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> 
                        <span>User</span> <i class="glyphicon glyphicon-chevron-left" style="float:right"></i></a>
                        <div id="User" class="collapse ">
                            <ul class="nav">
                                <li><a href="page-profile.html" class="">Add</a></li>
                                <li><a href="page-login.html" class="">Update</a></li>
                                <li><a href="page-lockscreen.html" class="">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="order-content" class="sidebar-menu">
                        <a href="#Order" data-toggle="collapse" class="collapsed">
                            <i class="lnr lnr-file-empty"></i>
                            <span>Order</span> <i class="glyphicon glyphicon-chevron-left" style="float:right"></i>
                        </a>
                        <div id="Order" class="collapse ">
                            <ul class="nav">
                                <li><a href="page-profile.html" class="">Add</a></li>
                                <li><a href="page-login.html" class="">Update</a></li>
                                <li><a href="page-lockscreen.html" class="">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <label class="switch">
                <input type="checkbox" id="toggle" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>


